{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/toys/toy-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>All Locations</h1>
</section>
<section class="card-container">
  {% for location in location_list %}
    <a href="{% url 'locations_detail' location.id %}">
      <div class="card-content">
        <h2>{{ location.city }}</h2>
        <p>A city in {{ location.state }}!</p>
      </div>
    </a>
  {% endfor %}
</section>

{% endblock %}