{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}
<div class="page-header">
  {% if location %}
    <h1>Edit {{location.city}}, {{location.state}}</h1>
  {% else %}
    <h1>Add a Location</h1>
  {% endif %}
  <img src="{% static 'images/sneaker-com.png' %}" alt="Sneaker on computer screen"/>
</div>
<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}