{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/sneakers/sneaker-detail.css' %}"
/>
<script defer src="{% static 'js/sneaker-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="sneaker-container">
  <div class="sneaker-img">
    <img src="{% static 'images/jordan.png' %}" alt="Re and black sneaker" />
  </div>
  <div class="sneaker-details">
    <h2 class="card-title">{{ sneaker.name }}</h2>
    <p>The {{ sneaker.brand }}  {{ sneaker.name }}s are available!</p>
    <p><small>These sneakers are a {{ sneaker.description }} in {{ sneaker.color }}</small></p>
    <p><small>Purchase price: {{ sneaker.price }}</small></p>
    <div class="sneaker-actions">
      <a href="{% url 'sneakers_update' sneaker.id %}">Edit</a>
      <a href="{% url 'sneakers_delete' sneaker.id %}">Delete</a>
    </div>
  </div>
</section>
</div>
</div>
</section>
<div class="release-container">
<section class="releases">
  <div class="subsection-title">
    <h2>Releases</h2>
  </div>
  <h3>Add a New Release</h3>
    <form
      method="post" 
      class="subsection-content"
    >
      {% csrf_token %}
      {{ release_form.as_p }}
      <button type="submit" class="btn submit">Add Release</button>
    </form>
    <h3>Previous Releases</h3>
  <table>
    <thead>
      <tr><th>Date</th><th>Drop Type</th></tr>
    </thead>
    <tbody>
      {% for release in sneaker.release_set.all %}
        <tr>
          <td>{{release.date}}</td>
          <td>{{release.get_drop_type_display}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
</div>

{% endblock %}