{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/sneakers/sneaker-detail.css' %}"
/>
<script defer src="{% static 'js/sneaker-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="sneaker-container">
  <div class="sneaker-img">
    <img src="{% static 'images/jordan.png' %}" alt="Re and black sneaker" />
  </div>
  <div class="sneaker-details">
    <h2 class="card-title">{{ sneaker.name }}</h2>
    <p>The {{ sneaker.brand }}  {{ sneaker.name }}s are available!</p>
    <p><small>These sneakers are a {{ sneaker.description }} in {{ sneaker.color }}</small></p>
    <p><small>Purchase price: {{ sneaker.price }}</small></p>
    <div class="sneaker-actions">
      <a href="{% url 'sneakers_update' sneaker.id %}">Edit</a>
      <a href="{% url 'sneakers_delete' sneaker.id %}">Delete</a>
    </div>
  </div>
</section>
</div>
</div>
</section>
<div class="release-container">
  <section class="releases">
    <div class="subsection-title">
      <h2>Releases</h2>
    </div>
    <h3>Add a New Release</h3>
    <form
      action="{% url 'add_release' sneaker.id %}"
      method="post" 
      class="subsection-content"
    >
      {% if sneaker.rel_for_today %}
        <p class="rel">The {{sneaker.brand}}    {{sneaker.name}} released today!</p>
      {% else %}
        <p class="unrel">The {{sneaker.brand}}    {{sneaker.name}} didn't release today.</p>
      {% endif %}  
      {% csrf_token %}
      {{ release_form.as_p }}
      <button type="submit" class="btn submit">Add Release</button>
    </form>
    <h3>Previous Releases</h3>
    {% if sneaker.release_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Drop Type</th></tr>
        </thead>
        <tbody>
          {% for release in sneaker.release_set.all %}
            <tr>
              <td>{{release.date}}</td>
              <td>{{release.get_drop_type_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
			<div class="subsection-content">
        <p>The {{sneaker.brand}} {{sneaker.name}} have not released recently!</p>
      </div>
    {% endif %}
  </section>
  <section class="locations">
    <div class="subsection-title">
      <h2>Locations</h2>
    </div>
    <h3>{{ sneaker.brand }} {{ sneaker.name }} Release Locations</h3>
    <div class="subsection-content">
      {% if sneaker.locations.count %}
        {% for location in sneaker.locations.all %}
          <div class="location-container">
            <a href="{% url 'locations_detail' location.id %}">
              <p>A {{ location.city }} {{ location.state }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-locations">{{sneaker.brand}} {{sneaker.name}} doesn't have any locations yet.</p>
      {% endif %}
    </div>
    <h3>Available Locations</h3>
    <div class="subsection-content">
      {% if locations.count %}
        {% for location in locations.all %}
          <div class="location-container">
            <a href="{% url 'locations_detail' location.id %}">
              <p>Available in {{ location.city }}, {{ location.state }}</p>
            </a>
            <form action="{% url 'assoc_location' sneaker.id location.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Attach Location</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-locations">
          {{sneaker.name}} already attached to this location.
        </p>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}