{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/sneakers/sneaker-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="sneaker-container">
  <div class="sneaker-img">
    <img src="{% static 'images/jordan.png' %}" alt="Re and black sneaker" />
  </div>
  <div class="sneaker-details">
    <h2 class="card-title">{{ sneaker.name }}</h2>
    <p>The {{ sneaker.brand }}  {{ sneaker.name }}s are available!</p>
    <p><small>These sneakers are a {{ sneaker.description }} in {{ sneaker.color }}</small></p>
    <p><small>Purchase price: {{ sneaker.price }}</small></p>
    <div class="sneaker-actions">
      <a href="{% url 'sneakers_update' sneaker.id %}">Edit</a>
      <a href="{% url 'sneakers_delete' sneaker.id %}">Delete</a>
    </div>
  </div>
</section>

{% endblock %}