{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/cats/cat-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Sneaker List</h1>
</section>

<section class="card-container">
  {% for sneaker in sneakers %}
    <div class="card">
      <a href="{% url 'sneakers_detail' sneaker.id %}">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/jordan.png' %}" 
            alt="Red and black sneaker"
          >
        </div>
        <h2 class="card-title">{{ sneaker.name }}</h2>
          <p>The {{ sneaker.brand }}  {{ sneaker.name }}s are available!</p>
        <p><small>{{ sneaker.description }}</small></p>
        <p><small>Purchase price: {{ sneaker.price }}</small></p>
      </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}